* {
    margin: 0;
    padding: 0;
}




.keret {
    background-image: radial-gradient(#f9f2ec, #e6e2de, #96897d);
    height: 85vh;
    padding-top: 15vh;
}

#felso {
    display: flex;
    width: max-content;
    justify-content: center;
    position: relative;
    box-shadow: 10px 10px 20px;
    margin: auto;
    
}

.nyil {
    display: flex;
    align-items: center;
    width: 50px;
    height: 500px;
    justify-content: center;
    background-color: white;
}

#bal-nyil, #jobb-nyil {
    width: 50px;
    height: 50px;
}


.gray-container {
    width: 1004px;
    height: 25%;
    background-color: rgba(20, 20, 20, 0.6);
    position: absolute;
    bottom: 0;
    color: cornsilk;
    padding: 10px;
}



.also {
    display: flex;
    justify-content: center;
    padding: 40px 0;    
}

.belso {
    width: 115px;
    height: 100px;
    position: relative;
    margin: -50px 5px 0;
    padding: 0;
}



div.also>div.belso>img.kiskep-nincskatt {
    height: 50px;
    box-shadow: 5px 5px 10px;
    position: absolute;
    bottom: 0;
    left: 0; 
    border: 5px solid  rgba(20, 20, 20, 0.8);
    transform: scale(1);
    transition: 1s;
}

div.also>div.belso>img.kiskep-katt {
    border: 5px solid white;
    transform: scale(1.2);
    transition: 1s;
}




div.also>div.belso>p.nem-latszik {
    display: none;
}

div.also>div.belso>p.latszik {
    display: block;
    padding: 5px;
    border-radius: 10px;
    width: 85%;
    margin: auto;
    color: white;
    text-align: center;
    background-color: rgba(20, 20, 20, 0.8);
}